body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
h1 {
    margin: 20px 0 0 0;
    color: #1975a3;
}
h2 {
    margin: 0 0 0 10px;
    color: #1975a3;
}
h3 {
    margin: 0;
    color: #0c577c;
}
p {
    margin: 5px 15px 30px 0;
    font-size: 1.1rem;
}

a {
    color: #288dbf;
}
a:visited {
    color: #0c577c;
}

#header {
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}
#header img {
    max-height: 80px;
}

#content {
     background-color: white;
     width: 80%;
     margin: 0px auto;
     box-shadow: 0px 5px 15px rgba(0, 25, 80, 0.4);
}
#splash {
    padding: 100px 0;
    background-color: #04212d;
    background-image: url('../images/splash-background.png');
    background-size: cover;
}
#splash h1 {
    font-size: 3rem;
    margin: 0px 20%;
}
#splash p {
    margin: 20px 20%;
    font-size: 1.35rem;
    color: white;
}

#more-content {
    padding: 10px 30px;
}

#footer {
    margin: 50px;
    text-align: center;
    font-size: 0.8rem;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project {
    margin: 20px;
    min-width: 500px;
    max-width: 650px;
    display: flex;
    align-items: flex-start;
}
.project img {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin-right: 20px;
}
.project p {
    margin-bottom: 5px;
}


@media (max-width: 1750px) {
    #splash h1 {
        margin: 0px 10%;
    }
    #splash p {
        margin: 20px 10%;
    }
}

@media (max-width: 1300px) {
    #content,
    #header {
        width: 90%;
    }
    #splash h1 {
        font-size: 2.5rem;
    }
    #splash p {
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) {
    #content,
    #header {
        width: 100%;
    }

    .project {
        min-width: 0;
    }
}

/*
 From "GitHub Corners":
    http://tholman.com/github-corners/
 by Tim Holman
*/
.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%,100% { transform:rotate(0) }
    20%,60% { transform:rotate(-25deg) }
    40%,80% { transform:rotate(10deg)}
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation:none
    }
    .github-corner .octo-arm {
        animation:octocat-wave 560ms ease-in-out
    }
}
